apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: demo-app

resources:
  - ../../base

commonLabels:
  environment: dev

replicas:
  - name: demo-app
    count: 1

patches:
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/image
        value: nginxdemos/hello:0.3
    target:
      kind: Deployment
      name: demo-app
